$title-textsize: 7vh;
$title-sp-textsize: 7vw;
$content-main-textsize: 4vh;
$content-main-sp-textsize: 6vw;
$content-sub-title-textsize: 3.5vh;
$content-sub-title-sp-textsize: 5vw;
$content-sub-emphasize-textsize: 3.3vh;
$content-sub-emphasize-sp-textsize: 4.5vw;
$content-sub-sp-textsize: 3.5vw;
$content-sub-textsize: 3vh;
$content-subsub-textsize: 2.3vh;
$content-subsub-sp-textsize: 3vw;
$main-color: #fd730b;
$light-main-color: #ffdec5;

.container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// rendering ページ
header {
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 100;
  span{
    cursor: pointer;
  }
  img {
    height: 100%;
    padding: 1%;
  }
}

.rendering-page {
  height: 100vh;
  width: 100vw;
  background-image:url('/zoom ex.png');
  background-size:cover;
  background-repeat: no-repeat;
  // 横に動くバグを直す
  position: relative;
  .rendering_title{
    position: absolute;
    width: 100%;
    font-size: $title-textsize;
    color: #fff;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', meiryo, serif;
  }
    .button_to_join{
    position: absolute;
    background:$main-color;
    color: #fff;
    bottom: 5%;
    left: 50%;
    transform : translate(-50%,-50%);
    padding: 1% 4%;
    border-radius: 6px;
    box-shadow: 2px 2px 4px;
    cursor:pointer;
  }
  @media only screen and (max-device-width : 750px) { //スマホ対応
    height: 70vh;
    .rendering_title{
      text-align: left;
      padding-left: 10%;
      font-size: $title-sp-textsize;
    }
    .button_to_join{
      padding:3% 7%;
    }
  }
}

// moku hub とは


.explain ,.content_community ,.merit, .rule_community, #contact{
  margin: 0;
  padding: 5% 10% 10% 10% ;
  .content_title{
    font-size: $content-main-textsize;
    font-weight: bold;
  }
  .explain_content{
    margin-top: 5%;
    font-size: $content-sub-textsize;
    line-height: 3em;
    padding: 0 5%;
    span{
      color: $main-color;
      font-size: $content-sub-emphasize-textsize;
      font-weight: bold;
    }
  }

  @media only screen and (max-device-width : 750px) { //スマホ対応
    padding: 8% 10% 10% 10% ;
    .content_title{
      font-size: $content-main-sp-textsize;
    }
    .explain_content{
      margin-top: 10%;
      font-size: $content-sub-sp-textsize;
      margin-bottom: 10%;
      span{
        font-size:$content-sub-emphasize-sp-textsize
      }
    }
  }

}

//コミュニティの内容
.content_community{
  background: $main-color;
  color: #fff;
  .content_sub_title{
    margin-top: 10%;
    font-size: $content-sub-title-textsize;
    color: #fff;
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
  }
  .rule{
    margin-top: 5%;
  }
  .rule_listing {
    display: flex;
    margin-top: 5%;

    .rule_item {
      text-align: center;
      width: 25%;
      margin: 4.16%;
      padding: 3%;
      height: 20vh;
      border: solid #fff;
      border-radius: 8px;
      box-shadow: 0 0 8px grey;
      display: table;

      p {
        display: table-cell;
        vertical-align: middle;
        font-size: $content-subsub-textsize;
        font-weight: bold;
      }

    }
  }

  .environment {
    .environment_list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      img {
        margin: 5% 9%;
      }
    }
  }

  @media only screen and (max-device-width: 750px) { //スマホ対応
    .content_sub_title{
      font-size: $content-sub-title-sp-textsize;
    }
    .rule{
      margin-top: 15%;
    }
    .rule_listing .rule_item {
      margin: 2%;
      width: 30%;
      p {
        font-size: $content-subsub-sp-textsize;
      }
    }
    .environment{
      margin-top: 15%;
    }
  }
}

//moku hubのメリット
.merit{
  .merit_image{
    width: 90%;
    margin: 8% auto 0 auto;
    @media only screen and (max-device-width: 750px) { //スマホ対応
      margin: 15% auto 0 auto;
    }
    }
}


//参加したい方はこちら
#contact{
  background: $main-color;
  padding-bottom: 5%;
  .content_title{
    color: #fff;
  }
  .form{
    margin-top: 5%;
    @media only screen and (max-device-width: 750px) { //スマホ対応
      margin-top: 15%;
      margin-bottom: 10%;
    }
    }
}

footer{
  background: #f0f0f0;
  color: #000;
  text-align:center;
  height: 15vh;
  line-height: 15vh;
  @media only screen and (max-device-width: 750px) { //スマホ対応
    font-size: 3vw;
  }
  }
